*{
    background-color: #EE90B7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bigbox{
    background-color: #E871A0;
    width: 50%;
    max-width: 45rem;
    opacity: 2;
    padding: 1.25rem;
    border-radius: 1.5rem;
}

.title, .subtitle{
    background-color: #E34D89;
    color: white;
    border-radius: 1.5rem;
}

.t1, .t2, .t3, .pod{
    border: none;
    outline: none;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background-color: #E871A0;
    color: white;
    font-size: 1.4rem;
}

.medbox, .pod, .p1, .p2, .p3{
    background-color: #E34D89;
}

.cel1{
    font-size: 1.4rem;
}

.conver:hover{
    cursor: pointer;
}

.conver{
    background-color: #E871A0;
    border: none;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 1.4rem;
    width: 50%;
    color: white;
}

.litbox{
    background-color: #E34D89;
}

#nume{
 background-color: #728A6E;
 border-radius: 1.5rem;  
}

.num{
    background-color: #324D3e;
}

.total{
    background-color: #324D3e;
}