*{
    background-color: #4b1c71;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.bigbox{
    background-color: #7f4ca5;
    width: 50%;
    max-width: 30rem;
    opacity: 2;
    padding: 1.25rem;
    border-radius: 1.5rem;
    align-items: center;
    text-align: center;
}

.title{
    background-color: #b57edc;
    border-radius: 1.5rem;
}

#raio{
    border: none;
    outline: none;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background-color: #b57edc;
    color: #ffffff;
    font-size: 1.4rem;
}

.calc:hover{
    cursor: pointer;
    background-color: #b57edc;
}

.calc{
    background-color: #b57edc;
    border: none;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 1.4rem;
    width: 50%;
}

.title, #N1, #N2, .cal, .total2, #total{
    font-family: Arial, Helvetica, sans-serif;
}

.total2{
    background-color: #b57edc;
    border-radius: 1.4rem;
}

#total{
    background-color: #b57edc;
}

.icon{
    background-color: #b57edc;
    width: 4rem;
    border-radius: 1rem;
}

#raio::placeholder{
    color: black;
    opacity: 1;
}

.calc:active{
    background-color: #4b1c71;
    color: white;
}